body{
    display: flex;
    height: 100vh;
    background-color: darkgray;
}

#outer_box{
    width: 400px;
    height: 600px;
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;

    margin: auto;

}

#display{
    height: 120px;
    background-color: rgb(47, 48, 48);
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    font-size: 30px;
    color: white;
    border-radius: 10px;
}

#buttons{
    
    flex-wrap: wrap;
    margin-top: 10px;
    overflow:auto;
}

.btn{
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background-color: black;
    
}

.operator, #ac, #c, #equal{
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 100%;
}

.operator{
    background-color: orange;
}

#equal{
    background-color: rgb(59, 190, 59);
}

#ac{
    background-color: rgb(206, 46, 46);
}

#clear{
    background-color: rgb(49, 26, 167);
}